version: '3.9'

services:
  postgres:
    image: postgres:16
    hostname: postgres
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    networks:
      - micro-service

  backend:
    build:
      context: ./
    container_name: backend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - postgres
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_HOST: "${POSTGRES_HOST}"
      POSTGRES_PORT: "${POSTGRES_PORT}"
      POSTGRES_DB: "${POSTGRES_DB}"
      SSLMODE: "${SSLMODE}"
      BACKEND_PORT: "${BACKEND_PORT}"
    networks:
      - micro-service

volumes:
  pgdata:
    driver: local

networks:
  micro-service:
    driver: bridge